<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastro de Usuario</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" type="text/css" href="/Hipocrates/hipocr-tes/css/style.css">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <style type="text/css">
            body {
            background-color:

    </style>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">

        <div class="row">
            <div>
                <h1>Cadastro de Usuario</h1>
                <br>
                <br>

            </div>

            <form>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome Completo</label>
                            <input type="Nome Completo" class="form-control" id="exampleInputEmail1" placeholder="Nome Completo">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Data de Nasc.</label>
                            <input type="Data Nascimento" class="form-control" id="exampleInputEmail1" placeholder="Data Nasc.">
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">RG</label>
                            <input type="RG" class="form-control" id="exampleInputEmail1" placeholder="Rg">
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Cargo</label>
                            <input type="Cargo" class="form-control" id="exampleInputEmail1" placeholder="Cargo">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Endereco</label>
                            <input type="Enderenco" class="form-control" id="exampleInputEmail1" placeholder="Endereco">
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Numero</label>
                            <input type="Numero" class="form-control" id="exampleInputEmail1" placeholder="Numero">
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Complemento</label>
                            <input type="Complemento" class="form-control" id="exampleInputEmail1" placeholder="Complemento">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Bairro</label>
                            <input type="Bairro" class="form-control" id="exampleInputEmail1" placeholder="Bairro">
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cep</label>
                            <input type="Cep" class="form-control" id="exampleInputEmail1" placeholder="Cep">
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input type="Telefone" class="form-control" id="exampleInputEmail1" placeholder="Telefone">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Celular</label>
                            <input type="Celular" class="form-control" id="exampleInputEmail1" placeholder="Celular">
                        </div>

                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input type="Usuario" class="form-control" id="exampleInputEmail1" placeholder="Usuario">
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuário</label>
                            <input type="usuario" class="form-control" id="exampleInputEmail1" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Senha">
                        </div>
                    </div>


                    <div class="col-xs-6 col-md-4">


                    </div>
                </div>

                <div class="button">
                    <button class="btn btn-default" type="button">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
