<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <style type="text/css">
  body {
	background-color: #48D1CC;
}
  #bara {
	background-color: #2FB9B6;
	height: 430px;
	margin-top: 13%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 50px;
}
.form-group {
  margin-bottom: 15px;
  
  }
      </style>
  <link href="../css/Style2.css" rel="stylesheet" type="text/css">
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>